body
{
	margin :auto 0;
	/*background-image: linear-gradient(#008778,#A3E4DD);*/
	color:white;
	background-color: #070C0E;
}

.todo
{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	padding:2%;
	background-color: #203037;
	border:3px solid #91A3AA;
	font-family: 'Righteous', cursive;
}


.container
{
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.input
{
	text-align: center;
	border :1px solid black;
	padding:10%;
	margin:5% 20% 20% 20%;
	letter-spacing: 0.2em;
	background-color: #203037;
	border:3px solid #91A3AA;
	font-family: 'Amatic SC', cursive;
	color:#4FCEFF;
	height: 50%;
}

#box
{
	padding:2%;
	background-color: #203037 ;
	border:2px solid #4FCEFF;
	border-radius: 25px;
	width: 100%;
	color:#4FCEFF;
	transition: all .3s;
}

#box:hover
{
	background-color: #050F13;
	
	color:white;
}

#save
{
	padding: 5px 20px;
	background-color: #050F13;
	outline: none;
	border-radius: 20px;
	cursor: pointer;
	border: none;
	font-family: 'Amatic SC', cursive;
	height:auto;
	width: 40%;
	font-size: 1.5em;
	border:2px solid #A3E6FF;
	color:white;

}

#save:hover
{
	background-color:#4FCEFF ;
	color: white;
}

#clear
{
	font-size:250%;
	color:#91A3AA ;
	text-align: center;
	transition: all .1s;	
}


.list
{
	text-align: center;
	margin: 18%;
	margin-left: none;
}

ul
{
	list-style: none;
	font-family: 'Amatic SC', cursive;

}

li
{
	font-size: 2em;
	cursor:pointer;
	/*transition: all .5s;*/
}

/*li:hover
{
	transform: scale(1.5);
}*/

footer
{
	text-align: center;
	background-color: #203037;
	padding:0.5%;
}

#due
{
	border:1px solid black;
	padding:3%;
	background-color: #FF4747;
	border:2px solid #FF0000;
	transition: all .3s;
}

#due:hover
{
	transform: scale(1.03);
}

#done
{
	border:1px solid black;
	padding:3%;
	background-color: #00975A;
	border:2px solid #003E25;
	transition: all .3s;
}

#done:hover
{
	transform: scale(1.03);
}

#progress
{
	border:1px solid black;
	padding:3%;
	background-color: #FF8915;
	border:2px solid #FF6A00;
	transition: all .3s;
}

#progress:hover
{
	transform: scale(1.03);
}

i
{
	transition: all .5s;
	cursor: pointer;
}

i:hover
{
	transform: scale(1.1);
}


#clear:hover
{
	color:#4FCEFF;
	transform: scale(1)
}

.animation
{
	animation-name: example;
  	animation-duration: 0.5s;
}

@keyframes example {
  0%   {transform: scale(1.1);}
  100% {transform: scale(1);}
}
